@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
.reset, body {
  position: absolute;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  top: 0;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.flex-elements {
  display: flex;
  flex-direction: column; }

.hover-animation, .error a {
  background: linear-gradient(to bottom, #bad9ea 0%, #bad9ea 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  text-decoration: none;
  transition: background-size 0.2s; }
  .hover-animation:hover, .error a:hover {
    background-size: 4px 50px; }

.typo-base, body {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.09em; }

.typo-72 {
  line-height: 6.75rem;
  font-size: 4.5rem; }

.typo-48 {
  line-height: 4.5rem;
  font-size: 3rem; }

.typo-32, header h1, .description-footer i, .curriculum .bullet-number h2, .rw-wrapper__sentence span {
  line-height: 3rem;
  font-size: 2rem; }

.typo-24, header, .card-list__shape .text__links .fas, .menu__icon i, .error h1 {
  line-height: 2.25rem;
  font-size: 1.5rem; }

.typo-18, .card-list__shape .text h2, .card-list__shape .text i, .box-menu__brand h1, .menu ul a {
  line-height: 1.6875rem;
  font-size: 1.125rem; }

.typo-16, body, .menu, .error p {
  line-height: 1.5rem;
  font-size: 1rem; }

.typo-14, .description-footer p:first-child, .curriculum .container-career .highlight p {
  line-height: 1.3125rem;
  font-size: 0.875rem; }

.typo-12, .description-footer p {
  line-height: 1.3125rem;
  font-size: 0.75rem; }

* {
  box-sizing: border-box; }

.container {
  display: grid;
  grid-template-rows: 50px 350px 50px;
  grid-template-areas: 'h' 'm' 'f';
  height: 100%;
  width: 100%; }

header {
  grid-area: h;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 0%;
  text-align: center; }
  @media (max-width: 576px) {
    header {
      margin-bottom: 15px; } }
  header svg {
    width: 13%;
    align-self: center; }
  header p {
    font-size: 1rem; }
  header hr {
    width: 30%;
    border: solid 0.8px #fc5aff; }

body {
  background-color: #283053;
  color: #d6d3c8; }
  @media (max-width: 576px) {
    body {
      width: auto; } }

main {
  grid-area: m;
  justify-content: center; }

@media (max-width: 576px) {
  ul {
    padding: 0; } }

main,
footer {
  display: flex;
  flex-direction: column; }

.description-footer {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .description-footer p {
    text-align: center;
    width: 104%;
    color: #45bb58; }
    .description-footer p:first-child {
      margin: 0; }
  .description-footer i {
    color: #696577; }
  .description-footer .icons-box {
    display: flex;
    width: 30%;
    justify-content: space-evenly; }
    @media (max-width: 576px) {
      .description-footer .icons-box {
        width: 56%; } }

footer {
  grid-area: f;
  color: #fc5aff;
  position: fixed;
  bottom: 0;
  padding: 0 2rem;
  width: 100vw; }
  @media (max-width: 576px) {
    footer {
      height: 32vh;
      -webkit-animation: slide-in-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      animation: slide-in-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      /* ----------------------------------------------
 * Generated by Animista on 2020-10-6 11:22:30
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
      /**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */ }
    @-webkit-keyframes slide-in-bottom {
      0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0; }
      100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1; } }
    @keyframes slide-in-bottom {
      0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0; }
      100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1; } } }
  @media (min-width: 576px) {
    footer {
      padding: 0 6.2rem; } }
  @media (max-width: 574px) and (min-width: 412px) {
    footer {
      padding: 0 2.6rem; } }
  @media (max-width: 767px) and (min-width: 576px) {
    footer {
      padding: 0px 3.2rem; } }

li {
  list-style: none; }

.card-list {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  padding: 0; }
  @media (max-width: 992px) {
    .card-list {
      justify-content: center; } }
  .card-list li {
    margin-bottom: 4rem;
    list-style: none; }
    .card-list li:nth-child(2) > div::before {
      background-image: url("../../assets/insta-project-portfolio.gif"); }
    .card-list li:nth-child(3) > div::before {
      background-image: url("../../assets/lib-chord-project-portfolio.gif"); }
    .card-list li:nth-child(4) > div::before {
      background-image: url("../../assets/rah-project-portfolio.gif"); }
  .card-list__shape {
    height: 750px;
    width: 332px;
    background-color: #fbfafa;
    border-radius: 12px;
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.9);
    padding: 1rem; }
    @media (min-width: 576px) {
      .card-list__shape {
        width: 400px; } }
    .card-list__shape::before {
      /* transform: scaleX(-1); */
      content: '';
      display: flex;
      flex-direction: column;
      height: 350px;
      width: 344px;
      background-size: calc(100% - 1.6em);
      background-position-y: center;
      background-blend-mode: multiply;
      background-repeat: no-repeat;
      background-color: #71a7d630;
      background-image: url(../../assets/fahionista-project-portfolio.gif);
      border-radius: 12px 60px 12px;
      box-shadow: 0 16px 12px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }
      @media (max-width: 412px) {
        .card-list__shape::before {
          width: 326px; } }
      @media (min-width: 576px) {
        .card-list__shape::before {
          width: 410px; } }
    .card-list__shape:hover {
      box-shadow: 0 3px 5px -5px rgba(0, 0, 0, 0.3);
      color: #6f6f6f; }
    .card-list__shape--stack {
      align-self: start; }
      .card-list__shape--stack span {
        font-family: Consolas, monaco, monospace;
        font-weight: 900; }
      .card-list__shape--stack .hidden-item {
        display: none; }
    .card-list__shape a {
      align-self: start; }
    .card-list__shape .text {
      display: flex;
      align-items: baseline;
      flex-direction: column;
      padding: 1.5rem;
      color: #1c265a; }
      .card-list__shape .text:nth-child(2) {
        font-size: smaller;
        width: 80%; }
      .card-list__shape .text h2 {
        min-height: 48px;
        margin-bottom: 0;
        font-family: Consolas, monaco, monospace; }
      .card-list__shape .text p {
        min-height: 168px; }
      .card-list__shape .text i {
        align-self: start;
        padding: 0.2rem 0; }
      .card-list__shape .text__links .fas {
        color: #2d2a52;
        letter-spacing: 0.3rem; }
        .card-list__shape .text__links .fas:hover {
          color: #2d2a52;
          opacity: 0.5; }

.explore-button {
  font-size: 0.9em;
  background-color: #477998;
  text-align: center;
  width: 80%;
  color: #fff;
  display: inline-block;
  padding: 1em;
  margin-top: 0.5em;
  border-radius: 5em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  box-shadow: 0 5px 20px -10px rgba(0, 0, 0, 0.3);
  transition: color 0.6s, box-shadow 0.3s, transform 0.3s; }

.explore-button:hover {
  opacity: 0.6;
  color: #fff;
  box-shadow: 0 3px 5px -5px rgba(0, 0, 0, 0.3);
  transform: translateY(-1px); }

.extension-timeline {
  position: relative;
  min-height: 200px;
  /* This part sucks */
  clear: both;
  margin: 25px 0; }
  .extension-timeline [type='radio']:checked ~ label {
    background: #283053;
    z-index: 2;
    font-weight: 900; }
    .extension-timeline [type='radio']:checked ~ label .divider {
      color: #4cbb5f;
      -webkit-animation: shake-horizontal 5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both;
      animation: shake-horizontal 5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both; }

@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px); }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px); }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px); }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px); } }

@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px); }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px); }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px); }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px); } }
  .extension-timeline [type='radio']:checked ~ label ~ .extension-timeline__content {
    z-index: 1; }
  .extension-timeline ul {
    display: flex;
    flex-direction: row-reverse;
    padding: 0; }
  .extension-timeline .divider {
    width: 2rem;
    /* height: 1px; */
    /* background-color: #d6d3c8; */
    margin: 0 1rem;
    vertical-align: middle; }
  .extension-timeline__tab label {
    display: flex;
    align-items: center;
    background: #283053;
    cursor: pointer;
    padding: 10px;
    margin-left: -1px;
    position: relative;
    left: 1px; }
  .extension-timeline__tab [type='radio'] {
    display: none; }
  .extension-timeline__content {
    position: absolute;
    top: 28px;
    left: 0;
    background: #283053;
    right: 0;
    bottom: 0;
    padding: 20px; }

.curriculum main {
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 14rem; }
  @media (min-width: 375px) {
    .curriculum main {
      width: 92%; } }
  @media (min-width: 768px) {
    .curriculum main {
      width: 68%; } }

.curriculum footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 27vh; }

.curriculum .bullet-number {
  display: flex;
  flex-direction: column; }
  .curriculum .bullet-number h2 {
    font-weight: 900; }
    .curriculum .bullet-number h2 > span:first-of-type {
      animation: cursor 0.8s infinite;
      color: #4cbb5f;
      margin: 0; }
  @media (max-width: 576px) {
    .curriculum .bullet-number p {
      width: 100%; } }
  @media (min-width: 1200px) {
    .curriculum .bullet-number p {
      width: 54%; } }
  .curriculum .bullet-number span {
    margin-left: 34px; }
  .curriculum .bullet-number svg {
    width: 8%;
    position: relative;
    bottom: 56px;
    opacity: 0.5; }
    @media (max-width: 576px) {
      .curriculum .bullet-number svg {
        width: 16%; } }

.curriculum .container-about {
  background: url("../../assets/profile/bruna-perfil.png") no-repeat;
  display: flex;
  background-size: 60%;
  background-position-x: center;
  flex-direction: column-reverse;
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both; }
  @media (max-width: 412px) {
    .curriculum .container-about {
      min-height: 720px; } }
  @media (min-width: 576px) {
    .curriculum .container-about {
      min-height: 708px; } }
  @media (min-width: 768px) {
    .curriculum .container-about {
      background-size: auto;
      min-height: 828px; } }
  @media (min-width: 992px) {
    .curriculum .container-about {
      min-height: 828px; } }
  @media (min-width: 1200px) {
    .curriculum .container-about {
      min-height: 20vh;
      background-size: contain;
      background-position-x: right; } }
  @media (min-width: 1920px) {
    .curriculum .container-about {
      width: 48vw; } }

.curriculum .container-career h3 {
  margin: 0; }

.curriculum .container-career ul li {
  margin-bottom: 3rem; }

.curriculum .container-career .highlight {
  display: flex; }
  @media (max-width: 412px) {
    .curriculum .container-career .highlight {
      flex-direction: column; } }
  .curriculum .container-career .highlight p {
    padding: 0 0.1rem;
    margin-right: 1rem;
    font-weight: bolder;
    text-align: center;
    background-image: linear-gradient(to right, #f27121cc, #e94057cc, #8a2387cc);
    border-radius: 6px;
    padding: 3px 6px; }
    @media (max-width: 412px) {
      .curriculum .container-career .highlight p {
        font-size: 0.75rem; } }

.curriculum .container-portfolio {
  margin-top: 4rem; }

.curriculum .container-education {
  display: flex;
  justify-content: space-between;
  min-height: 40vh; }
  @media (max-width: 768px) {
    .curriculum .container-education {
      flex-direction: column; } }
  .curriculum .container-education .description-area ul > li {
    margin-bottom: 2rem; }
    @media (max-width: 768px) {
      .curriculum .container-education .description-area ul > li {
        width: 72vw; } }
  @media (max-width: 768px) {
    .curriculum .container-education .description-area {
      height: 62vh; } }
  .curriculum .container-education .extension {
    width: 30vw;
    min-height: 72vh; }
    .curriculum .container-education .extension .extension-timeline .hydrated {
      --sl-color-primary-50: #4cbb5f;
      width: 100%; }
    @media (max-width: 412px) {
      .curriculum .container-education .extension .extension-timeline {
        position: relative;
        right: 28%;
        width: 92vw; } }
    @media (max-width: 768px) and (min-width: 576px) {
      .curriculum .container-education .extension .extension-timeline {
        width: 70vw; } }

.curriculum .description-area ul {
  padding: 0; }

@media (max-width: 576px) {
  .curriculum .description-area {
    padding: 1.5rem; } }

html,
body {
  overflow-x: hidden; }

.home {
  color: #d6d3c8;
  width: 100vw;
  height: 100vh; }
  @media (min-width: 768px) {
    .home .container {
      grid-template-rows: 20% 60% 20%; } }

/*Início das configurações da header*/
.box-menu {
  display: flex;
  justify-content: space-between;
  width: 95vw;
  height: 100px;
  line-height: 50px;
  text-align: center; }
  @media (max-width: 576px) {
    .box-menu {
      flex-direction: column;
      height: 19vh; } }
  .box-menu__brand {
    width: auto;
    height: 100%;
    margin: 0 0 0 5%;
    padding: 1rem 0.3rem; }
    .box-menu__brand h1 {
      width: max-content; }
      @media (min-width: 992px) {
        .box-menu__brand h1 {
          font-size: 1.5rem; } }
      .box-menu__brand h1 > span {
        color: #fc5aff; }

/*Início das configurações da Navigation*/
.menu {
  width: 20%;
  height: 100%; }
  @media screen and (max-width: 576px) {
    .menu {
      width: 100%;
      height: auto; } }
  @media screen and (min-width: 576px) {
    .menu {
      width: 28%;
      padding: 1rem 0.3rem; } }
  @media screen and (min-width: 768px) {
    .menu {
      width: 52%;
      padding: 1.8rem 0.3rem; } }
  .menu ul {
    display: flex;
    width: 100%;
    height: inherit;
    margin: 0;
    padding: 0; }
    @media (max-width: 576px) {
      .menu ul {
        width: 100vw;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12); } }
    .menu ul li {
      height: 44px; }
      @media screen and (min-width: 768px) {
        .menu ul li {
          width: 32%; } }
    @media (max-width: 576px) {
      .menu ul > li:last-child {
        border-bottom: 1px solid #45bb58; } }
    .menu ul a {
      text-decoration: none;
      height: inherit;
      color: #d6d3c8;
      display: inline-block;
      background: linear-gradient(to right, #45bb58, #45bb58 50%, #d6d3c8 50%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 200% 100%;
      background-position: 100%;
      transition: background-position 275ms ease;
      text-decoration: none; }
      .menu ul a:hover {
        background-position: 0 100%; }
      @media screen and (max-width: 576px) {
        .menu ul a {
          width: 100%;
          height: 50px; } }
    @media screen and (max-width: 576px) {
      .menu ul {
        display: block;
        max-height: 0;
        overflow: hidden; } }
  .menu__icon {
    display: none; }
    @media screen and (max-width: 576px) {
      .menu__icon {
        display: block;
        position: absolute;
        top: 1%;
        right: 4%; } }
    .menu__icon i {
      padding: 0.4rem; }
      .menu__icon i:active {
        border: 1px solid #236; }
  .menu #menuToggle {
    display: none; }
    @media screen and (max-width: 576px) {
      .menu #menuToggle {
        -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
        .menu #menuToggle:checked ~ ul {
          max-height: 350px;
          -webkit-animation: slide-in-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          /* ----------------------------------------------
 * Generated by Animista on 2020-10-6 11:19:3
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
          /**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */ }
      @-webkit-keyframes slide-in-top {
        0% {
          -webkit-transform: translateY(-1000px);
          transform: translateY(-1000px);
          opacity: 0; }
        100% {
          -webkit-transform: translateY(0);
          transform: translateY(0);
          opacity: 1; } }
      @keyframes slide-in-top {
        0% {
          -webkit-transform: translateY(-1000px);
          transform: translateY(-1000px);
          opacity: 0; }
        100% {
          -webkit-transform: translateY(0);
          transform: translateY(0);
          opacity: 1; } } }

.rw-wrapper {
  padding: 10px;
  display: flex;
  flex-direction: column; }
  .rw-wrapper:after {
    content: '';
    margin-left: 1%;
    display: initial;
    position: absolute;
    height: 54%;
    width: 1px;
    background-color: #fc5aff; }
    @media (max-width: 412px) {
      .rw-wrapper:after {
        height: 42%; } }
    @media (min-width: 768px) {
      .rw-wrapper:after {
        bottom: 27%;
        margin-left: 6%; } }
    @media (min-width: 1920px) {
      .rw-wrapper:after {
        margin-left: 5%; } }
  @media (max-width: 576px) {
    .rw-wrapper {
      margin: 20px auto 0 6%; } }
  .rw-wrapper hr {
    color: #fc5aff;
    width: 28%;
    opacity: 0.5;
    border: solid 0.8px #fc5aff;
    transform: rotate(90deg);
    padding: 20;
    transform-origin: 0 0;
    /* margin-right: 25px; */ }
    @media (max-width: 576px) {
      .rw-wrapper hr {
        width: 100%; } }
  .rw-wrapper__type-input {
    font-family: Consolas, monaco, monospace;
    position: relative;
    z-index: 9999;
    border: none;
    background: transparent;
    font-size: 10px;
    color: red;
    font-weight: normal;
    width: 100%;
    margin-left: -2px; }
  .rw-wrapper__sentence {
    margin-left: 16%; }
    @media (max-width: 576px) {
      .rw-wrapper__sentence {
        position: relative;
        width: 56%;
        margin-left: 6%;
        top: 32%; } }
    .rw-wrapper__sentence span {
      color: #d6d3c8;
      font-weight: normal; }
      @media (max-width: 576px) {
        .rw-wrapper__sentence span {
          line-height: 3rem;
          font-size: 2rem; } }
  .rw-wrapper__words {
    display: inline;
    font-family: Consolas, monaco, monospace; }

.animation__type {
  position: absolute;
  opacity: 0;
  overflow: hidden;
  animation: words 24s steps(48) infinite 0s;
  -webkit-animation: words 24s steps(48) infinite 0s; }
  .animation__type:nth-child(2) {
    -webkit-animation-delay: 4s;
    animation-delay: 4s; }
  .animation__type:nth-child(3) {
    -webkit-animation-delay: 8s;
    animation-delay: 8s; }
  .animation__type:nth-child(4) {
    -webkit-animation-delay: 12s;
    animation-delay: 12s; }
  .animation__type:nth-child(5) {
    -webkit-animation-delay: 16s;
    animation-delay: 16s; }
  .animation__type:nth-child(6) {
    -webkit-animation-delay: 20s;
    animation-delay: 20s; }
    @media (max-width: 412px) {
      .animation__type:nth-child(6) {
        font-size: 1.5rem; } }
  .animation__type span {
    color: #4cbb5f; }
  .animation__type > span {
    animation: cursor 0.8s infinite;
    color: #4cbb5f; }

@-webkit-keyframes words {
  0% {
    opacity: 0;
    width: 0; }
  2% {
    opacity: 1; }
  14% {
    opacity: 1;
    width: 48ch; }
  15% {
    opacity: 0; } }

@keyframes words {
  0% {
    opacity: 0;
    width: 0; }
  2% {
    opacity: 1; }
  14% {
    opacity: 1;
    width: 48ch; }
  15% {
    opacity: 0; } }

@keyframes cursor {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  30% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.error {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: url("../../assets/Scout.png") no-repeat;
  background-size: contain;
  height: 58vh;
  color: inherit;
  text-align: -webkit-center; }
  @media (min-width: 992px) {
    .error {
      flex-direction: column-reverse;
      height: 100vh;
      text-align: inherit; } }
  @media (min-width: 1920px) {
    .error section {
      align-self: baseline;
      padding: 1rem 16rem; } }
  @media (min-width: 992px) {
    .error h1 {
      font-size: 1.5rem; } }
  .error p {
    width: 86%; }
    @media (min-width: 992px) {
      .error p {
        font-size: 1.125rem;
        line-height: 150%;
        width: 42%; } }
  .error a {
    color: inherit; }
