<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Curriculum and portfolio developed with ejs template, Node.js and Express">
  <link rel='stylesheet' href='/styles/css/main.css' />
</head>

<body>
  <main class="error">
    <section>
      <h1><%= error.status === 404 ? 'Página não encontrada' : '' %></h1>
      <p>Infelizmente não encontramos essa página, que tal visitar a <span><a href="/">Página inicial</a></span>?</p>
    </section>


  </main>
</body>

</html>