<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Curriculum and portfolio developed with ejs template, Node.js and Express">
  <title><%= title %></title>
  <link rel='stylesheet' href='/styles/css/main.css' />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<body>
  <!-- <a target="_blank" href="https://woliveiras.com.br/posts/criando-um-curr%C3%ADculo-com-node-js-express-e-templates-ejs/">Referência Blog WOliveira</a> -->
  <div class="box-menu">
    <div class="box-menu__brand">
      <h1><span>
          < </span><%= title %> <span> /> </span></h1>
    </div>

    <nav class="menu">
      <input type="checkbox" id="menuToggle">
      <label for="menuToggle" class="menu__icon"><i class="fa fa-bars"></i></label>
      <ul>
        <li>
          <a href="/curriculo#porftolio">Perfil<span> /></span></a>

        </li>
        <li>
          <a href="/curriculo#porftolio">Carreira<span> /></span></a>

        </li>
        <li>
          <a href="/curriculo#porftolio">Projetos<span> /></span></a>

        </li>
      </ul>
    </nav>
  </div>
  <main class="home">

    <section class="rw-wrapper">
      <h2 class="rw-sentence">
        <span class="cursor">MEU NOME É BRUNA E EU DESENVOLVO</span>
        <br>
        <div class="rw-words">
          <div class="animation">
            <% animationItems.map(skill => { %>
            <span class="type"><%= skill %><span>_</span></span>
            <% }); %>
          </div>
        </div>
      </h2>
      <input aria-disabled="true" aria-label="animação de palavras com principais skills da desenvolvedora" role="complementary" class="type-input" maxlength="22" rows="1" wrap="off" readonly>
    </section>
  </main>
  <footer>
    <!-- <p>Versão <%= version %></p> -->
  </footer>
</body>

</html>