<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/styles/css/main.css' />
</head>

<body>
  <main>
    <h1><%= title %></h1>
    <p>Bem vindo(a) ao <strong><%= title %></strong></p>
    <a href="/curriculo">Meu currículo</a><br>
    <a target="_blank" href="https://woliveiras.com.br/posts/criando-um-curr%C3%ADculo-com-node-js-express-e-templates-ejs/">Referência Blog WOliveira</a>
  </main>
  <footer>
    <p>Versão <%= version %></p>
  </footer>
</body>

</html>