* {
  box-sizing: border-box;
}

body {
  @extend .typo-16;
  @extend .typo-base;
  @extend .reset;

  @media (max-width: $sm) {
    width: auto;
  }
}

header {
  @extend .typo-24;
  position: relative;
  background-size: 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10rem 1rem;
  text-align: center;
  background-size: auto;
  background-color: $background-default;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%238e5572' fill-opacity='0.5'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");

  @media (max-width: $sm) {
    margin-bottom: 15px;
  }
  svg {
    width: 13%;
    align-self: center;
  }
}

main,
footer {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto;
}

.bullet-number {
  display: flex;
  flex-direction: column;

  h2 {
    @extend .typo-32;
    font-weight: $fontWeighblack;
  }

  p {
    width: 50%;
    @media (max-width: $sm) {
      width: 100%;
    }
  }

  span {
    margin-left: 34px;
  }

  svg {
    width: 8%;
    position: relative;
    bottom: 56px;
    opacity: 0.5;

    @media (max-width: $sm) {
      width: 16%;
    }
  }
}

.container-about {
  background: url('../../assets/profile/bruna-perfil.png') no-repeat;
  background-size: contain;
  background-position-x: right;
  @media (max-width: $sm) {
    display: flex;
    background-size: 80%;
    background-position-x: center;
    flex-direction: column-reverse;
    min-height: 720px;
  }
}

.description-area {
  @media (max-width: $sm) {
    padding: 1.5rem;
  }
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: url('../../assets/Scout.png') no-repeat;
  background-size: contain;
  height: 58vh;
  color: $error;
  text-align: -webkit-center;

  @media (min-width: $lg) {
    flex-direction: column-reverse;
    height: 100vh;
    text-align: inherit;
  }

  h1 {
    @extend .typo-24;

    @media (min-width: $lg) {
      font-size: $f24;
    }
  }

  p {
    @extend .typo-16;
    width: 86%;

    @media (min-width: $lg) {
      font-size: $f18;
      line-height: 150%;
      width: 42%;
    }
  }

  a {
    @extend .hover-animation;
  }
}

.home {
  a {
    @extend .hover-animation;
    width: 20%;
  }
}

li {
  list-style: none;
}
/*Início das configurações da header*/
.box-menu {
  display: flex;
  justify-content: space-between;
  width: 95vw;
  height: 100px;
  line-height: 50px;
  text-align: center;
  @media (max-width: $sm) {
    flex-direction: column;
  }

  &__brand {
    width: auto;
    height: 100%;
    margin: 0 0 0 5%;

    h1 {
      @extend .typo-18;
      width: max-content;
      @media (min-width: $lg) {
        font-size: $f24;
      }
    }
  }
}
/*Início das configurações da Navigation*/
.menu {
  width: 60%;
  height: 100%;

  @media screen and (max-width: 768px) {
    width: 100%;
    height: auto;
  }

  ul {
    display: flex;
    width: 100%;
    height: inherit;
    margin: 0;
    padding: 0;
    a {
      text-decoration: none;
      height: inherit;
      color: #222;
      display: inline-block;

      &:hover {
        background-color: #222;
        color: #fff;
      }
      @media screen and (max-width: 768px) {
        width: 100%;
        height: 50px;
      }
    }

    @media screen and (max-width: 768px) {
      display: block;
      max-height: 0;
      overflow: hidden;
    }
  }

  &__icon {
    display: none;
    @media screen and (max-width: 768px) {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
    }

    i {
      font-size: 1.7em;
    }
  }

  #menuToggle {
    display: none;
    @media screen and (max-width: 768px) {
      &:checked ~ ul {
        max-height: 350px;
      }
    }
  }
}

.type-input {
  font-family: Consolas, monaco, monospace;
  position: relative;
  z-index: 9999;
  border: none;
  background: transparent;
  font-size: 24px;
  color: #444;
  font-weight: normal;
  width: 100%;
  margin-left: -2px;
}

.rw-wrapper {
  margin: 20px auto 0 auto;
  padding: 10px;
}

.rw-sentence {
  margin: 0;
}

.rw-sentence span {
  color: #444;
  font-weight: normal;
}

.rw-words {
  display: inline;
  font-family: Consolas, monaco, monospace;
}

.type {
  position: absolute;
  opacity: 0;
  overflow: hidden;
  -webkit-animation: words 24s steps(48) infinite 0s;
}
.type:nth-child(2) {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}
.type:nth-child(3) {
  -webkit-animation-delay: 8s;
  animation-delay: 8s;
}
// .type:nth-child(4) {
//   -webkit-animation-delay: 12s;
//   animation-delay: 12s;
// }
// .type:nth-child(5) {
//   -webkit-animation-delay: 16s;
//   animation-delay: 16s;
// }
// .type:nth-child(6) {
//   -webkit-animation-delay: 20s;
//   animation-delay: 20s;
// }

@-webkit-keyframes words {
  0% {
    opacity: 0;
    width: 0;
  }
  2% {
    opacity: 1;
  }
  14% {
    opacity: 1;
    width: 48ch;
  }
  15% {
    opacity: 0;
  }
}

span > span {
  animation: cursor 0.8s infinite;
}

@keyframes cursor {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
