.extension-timeline {
  position: relative;
  min-height: 200px; /* This part sucks */
  clear: both;
  margin: 25px 0;

  [type='radio']:checked ~ label {
    background: #283053;
    // border-bottom: 1px solid white;
    z-index: 2;
    font-weight: 900;

    .divider {
      color: #4cbb5f;

      -webkit-animation: shake-horizontal 5s
        cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both;
      animation: shake-horizontal 5s cubic-bezier(0.455, 0.03, 0.515, 0.955)
        infinite both;

      @-webkit-keyframes shake-horizontal {
        0%,
        100% {
          -webkit-transform: translateX(0);
          transform: translateX(0);
        }
        10%,
        30%,
        50%,
        70% {
          -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
        }
        20%,
        40%,
        60% {
          -webkit-transform: translateX(10px);
          transform: translateX(10px);
        }
        80% {
          -webkit-transform: translateX(8px);
          transform: translateX(8px);
        }
        90% {
          -webkit-transform: translateX(-8px);
          transform: translateX(-8px);
        }
      }
      @keyframes shake-horizontal {
        0%,
        100% {
          -webkit-transform: translateX(0);
          transform: translateX(0);
        }
        10%,
        30%,
        50%,
        70% {
          -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
        }
        20%,
        40%,
        60% {
          -webkit-transform: translateX(10px);
          transform: translateX(10px);
        }
        80% {
          -webkit-transform: translateX(8px);
          transform: translateX(8px);
        }
        90% {
          -webkit-transform: translateX(-8px);
          transform: translateX(-8px);
        }
      }
    }
  }
  [type='radio']:checked ~ label ~ .extension-timeline__content {
    z-index: 1;
  }

  ul {
    display: flex;
    flex-direction: row-reverse;
    padding: 0;
  }

  .divider {
    width: 2rem;
    /* height: 1px; */
    /* background-color: #d6d3c8; */
    margin: 0 1rem;
    vertical-align: middle;
  }

  &__tab {
    label {
      display: flex;
      align-items: center;
      background: #283053;
      cursor: pointer;
      padding: 10px;
      margin-left: -1px;
      position: relative;
      left: 1px;
    }

    & [type='radio'] {
      display: none;
    }
  }

  &__content {
    position: absolute;
    top: 28px;
    left: 0;
    background: #283053;
    right: 0;
    bottom: 0;
    padding: 20px;
    // border: 1px solid #ccc;
  }
}
